__pychache__
*.pyc
savedData/10.csv
savedData/12.csv
savedData/14.csv
savedData/16.csv
savedData/18.csv
savedData/4.csv
savedData/6.csv
savedData/8.csv
savedData/24.csv
savedData/22.csv
savedData/20.csv
savedData/y_aug.txt
savedData/y_aug.csv
savedData/X_aug_ft.txt
savedData/x_aug.txt
savedData/X_aug.csv
savedData/X_ft6.csv
savedData/X_ft26.csv
savedData/X_ft22.csv
savedData/X_ft18.csv
savedData/X_ft14.csv
savedData/X_ft10.csv
